body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

#clock {
    /*background-color: red;*/
    position: absolute;
    top: 25px;
    left: 25px;
    width: 350px;
    height: 200px;
}

#time {
    margin: 0;
    font-size: 82pt;
    text-align: center;
}

#date {
    margin: 0;
    font-size: 24pt;
    text-align: center;
}

#weather {
    /*background-color: yellow;*/
    position: absolute;
    top: 225px;
    left: 25px;
    width: 350px;
    height: 350px
}

#sky {
    width: 100%;
    font-size: 12em;
    text-align: center;
    line-height: 1.3;
}

#temp {
    margin: 0;
    font-size: 48pt;
    text-align: center;
}

#trafic {
    background-color: blue;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 350px;
    height: 200px
}

#schedule {
    background-color: green;
    position: absolute;
    top: 225px;
    right: 25px;
    min-height: 350px;
    max-height: calc(100% - 300px);
    width: 350px
}
